[Unit]
Description=Gunicorn daemon for fholanda.com
Before=nginx.service
After=network.target

[Service]
WorkingDirectory=/home/django/fholanda
ExecStart=/home/django/.virtualenvs/fholanda/bin/gunicorn --name=wilber --pythonpath=/home/django/fholanda/fholanda/ --bind unix:/home/django/gunicorn-fholanda.socket --config /etc/gunicorn.d/gunicorn.py fholanda.wsgi:application
Restart=always
SyslogIdentifier=gunicorn-fholanda
User=django
Group=django


[Install]
WantedBy=multi-user.target
