[Unit]
Description=Gunicorn daemon for fholanda.com
Before=nginx.service
After=network.target

[Service]
WorkingDirectory=/home/django/fholanda.com
EnvironmentFile=/home/django/fholanda.com/.env
ExecStart=/home/django/.virtualenvs/fholanda/bin/gunicorn \
        --name=fholanda \
        --pythonpath=/home/django/fholanda.com/fholanda/ \
        --bind unix:/home/django/gunicorn-fholanda.socket \
        --config /etc/gunicorn.d/gunicorn.py config.wsgi:application

Restart=always
SyslogIdentifier=gunicorn-fholanda
User=django
Group=django


[Install]
WantedBy=multi-user.target
